.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.turnHeader {
  font-size: 22px;
  color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px #000000;
  border-bottom: 4px solid rgb(150, 150, 150);
  width: 100%;
  padding: 20px;
  z-index: 111;
  background: rgb(100, 100, 100);
}

.cards {
  height: 100%;
  margin-top: 60px;
  max-width: 2000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  cursor: pointer;
  background: rgb(150, 150, 150);
  margin-top: 20px;
  user-select: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
}

.winScreen {
  font-size: 50px;
  font-family: "Bangers", cursive;
  border-radius: 0px 0px 6px 6px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background: rgba(100, 100, 100, 0.95);
  width: 600px;
  height: 350px;
  z-index: 100;
  animation-name: slide-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  from {
    top: -350px;
  }
  to {
    top: 62px;
  }
}
