.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.turnHeader {
  box-shadow: 0 0 10px #000000;
  border-bottom: 4px solid rgb(150, 150, 150);
  width: 100%;
  padding: 20px;
  background: rgb(100, 100, 100);
}

.cards {
  max-width: 1900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
