.card {
  min-height: 350px;
  min-width: 200px;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  user-select: none;
  position: relative;
}

.card .back,
.card .front {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 22px;
  width: 100%;
  height: 100%;
}
.zendeskImg {
  width: 150px;
  transform: scaleX(-1);
}

.imageBg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.back {
  transition: transform 1s, opacity 1s;
  background-image: url(https://images.cdn2.stockunlimited.net/preview1300/playing-cards-background_1608080.jpg);
  transform: rotate3d(0, 1, 0, 180deg);
  background-size: contain;
}

.front {
  transition: transform 1s, opacity 1s;
  /* background: orange; */
  background-size: cover;
  background-position: center;
  transform: rotate3d(0, 0, 0, 180deg);
  opacity: 0;
}

.card.flipped .back {
  transform: rotate3d(0, 0, 0, 180deg);
  opacity: 0;
}

.card.flipped .front {
  transform: rotate3d(0, 1, 0, 180deg);
  opacity: 1;
}

.card.flipped:hover {
  transform: none;
  cursor: default;
}

.card:hover {
  transition: transform 0.3s;
  transform: scale(0.95, 0.95);
  /* width: 195px;
  height: 345px; */
  background-blend-mode: lighten;
  cursor: pointer;
}
