
.MyButton {
  border: 4px solid rgb(50, 50, 50);
  color: rgb( 150, 50, 50);
  margin: 2px ;
  background: rgb(200, 200, 200);
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

.MyButton:hover {
  background: rgb(230, 230, 230)

}
